#header.container
  .row
    #header-text.col-md-9.col-md-offset-2
      h1 Redefine the K-12 experience.
      br
      h2  Let's get started! I am a...
      button#Parent.btn.btn-info.btn-lg.user-category(type='button') Parent
      button#Student.btn.btn-info.btn-lg.user-category(type='button') Student
      button#Educator.btn.btn-info.btn-lg.user-category(type='button') Teacher
      button#General.btn.btn-info.btn-lg.user-category(type='button') Community Member
    //- video#intro-video.full-screen-video(preload='', autoplay='autoplay', loop='loop')
      source.source.proprietary(type='video/mp4', src='/videos/students-exam-hall.mp4')
    image#intro-bg(src='/images/empty-chairs-background.png')