#countdown-header.container
  .row
    video#countdown-video.full-screen-video(preload='', autoplay='autoplay', loop='loop')
      source.source.proprietary(type='video/mp4', src='/videos/countdown.mp4')