#premiere-video.container
  iframe.video-player(src="//www.youtube.com/embed/0oDJKlLLbAQ?rel=0&autoplay=1&amp;showinfo=0", frameborder="no", width="960", height="550", allowfullscreen=true)
  style(type='text/css').
    body {background-color: #444;}