html{
  -webkit-font-smoothing:antialiased;
}

h1,h2,h3,h4,h5{
  font-family: 'Aleo', serif;
}

body {
  padding-top: 70px;
  font-family: 'Aleo', serif;
}

.container {
  margin-left: inherit;
}

.navbar-header {
  padding-right: 3em;
}

.navbar-default{
  background-color: white;
  font-family: 'Raleway', serif;
}

/* Logo Container */
.navbar-brand {
  padding: 0.5em 0 0 0;
}

/* SVG Logo */
.navbar-brand object {
  width: 20em;
  margin-top: -0.5em;
}

/* Active Nav item */
.nav.navbar-nav>li.active a {
  background-color: rgba(255,255,255,0);
  border-bottom: 4px solid #f89734;
}

.nav>li {
  margin-top: -0.5em;
}

.nav>li>a {
  padding: 1.7em 1.1em 0.1em 1.1em;
  font-size: 1.2em;
}

.nav>li>a:hover,.nav>li>a:focus{
  text-decoration:none;
  background-color:transparent;
  color:#1f1f1f;
}

.form-control,.btn{
  font-family: 'Roboto Slab', serif;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  color: #505050;
}

.jumbotron{
  background-color: #33CCFF;
}

#video-border{
  border-style:solid;
  border-width: 3px;
  height: 287px;
}

.wf-loading {
    visibility: hidden;
}
.wf-active {
    visibility: visible;
}
#intro-bg {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    /*-webkit-filter: blur(6px);*/
    /*filter: blur(6px);*/
}
#header {
    overflow: hidden;
    height: 560px;
}
#header-text {
    z-index: 10;
}
#header-text h1 {
    font-size: 4.5em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #505050 0px 1px 1px;
    padding-top: 100px;
    width: 13em;
    line-height: 1em;
}

#header-text h2 {
    /*font-weight: 200;*/
    color: #ffffff;
    text-shadow: #505050 0px 1px 1px;
    letter-spacing: -1px;
}
#sxsw-video {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    box-shadow: 0px -5px 5px rgba(34,34,34,0.6);
}

#sxsw-header-text {
    z-index: 10;
}
#sxsw-header-text h1 {
  color: white;
    font-size: 4.5em;
    font-weight: 200;
    text-shadow: #505050 0px 1px 1px;
    padding-top: 150px;
    letter-spacing: -1px;
}
#sxsw-header-text h2 {
    font-weight: 200;
    color: white;
    text-shadow: #505050 0px 1px 1px;
    letter-spacing: -1px;
}
#sxsw-header {
    overflow: hidden;
    height: 450px;
}
#countdown-video {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    box-shadow: 0px -5px 5px rgba(34,34,34,0.6);
}
#countdown-header {
    overflow: hidden;
    height: 450px;
}
#premiere-video {
    width: 100%;
    text-align: center;
}
#preshow-video {
    width: 100%;
    text-align: center;
}

button.user-category {
  margin: 0 0.5em 0 0.5em;
}

.btn-info {
  background-color: rgb(254,149,72);
  border-color: #f7810a;
  border-radius: 0;
}

.btn-info:hover {
  background-color: #f7810a;
  border-color: #f7810a;
}