#preshow-video.container(style="width=100%")
  iframe.video-player(src="//www.ustream.tv/embed/16350074?wmode=direct&autoplay=true", frameborder="no", width="960", height="550")
  style(type='text/css').
    body {background-color: #444;}
