.container
  .row
    .col-md-9
      h2.featurette-heading
        | Ready?
        span.text-muted  You can help.
      p.lead
        | If you want to help us change K-12 education, fill out this form and we'll get in touch—coffee's on us.
    #sidebar-left.col-md-3
      .nav-collapse.sidebar-nav
        center
          h2
            | Get Involved.
        ul.nav.nav-tabs.nav-stacked.main-menu
          li
            span.hidden-tablet  
              input(type='checkbox' checked) 
              | &nbsp;&nbsp;Watch the movie
          li
            span.hidden-tablet  
              input(type='checkbox') 
              | &nbsp;&nbsp;Join the conversation
          li
            span.hidden-tablet  
              input(type='checkbox') 
              | &nbsp;&nbsp;Reimagine the future
          li
            span.hidden-tablet
              center
                button#Start.btn.btn-info.btn-lg.user-category(type='button') Get Started