.container
  .row
    .col-md-9
      #preshow-video.container(style="width=100%")
        iframe.video-player(src="//www.ustream.tv/embed/16350074?wmode=direct&autoplay=true", frameborder="no", width="960", height="550")
    #sidebar-left.col-md-3
      .nav-collapse.sidebar-nav
        center
          h2
            | Take Action.
        ul.nav.nav-tabs.nav-stacked.main-menu
          li
            span.hidden-tablet  
              img(src="../images/check_box_done.svg")
              | &nbsp;&nbsp;Watch the movie
          li
            span.hidden-tablet  
              img(src="../images/check_box_blank.svg")
              | &nbsp;&nbsp;Join the movement
          li
            span.hidden-tablet
              center
                button#Start.btn.btn-info.btn-lg.user-category(type='button' data-toggle="modal" data-target="#giveModal") Get Involved
  #giveModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          img(src="../images/arrow.png" height="50px")
          | &nbsp;Join The Movement.
        .modal-body
          form.form-inline(role='form' id="modalbodytext")
            | I am 
            input#email.form-control(type='text', placeholder='Cameron G.')
            | and I think that the future of K-12 education needs to look different. 
            br
            br
            strong
              | I want to be part of the future.
        .modal-footer
          form.form-inline(role='form')
            input#email.form-control(type='email', placeholder='cameron.g@gmail.com')
            button#Start.btn.btn-info.btn-lg() Join.
  style(type='text/css').
    body {background-color: #444;}